body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18pt;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

a:link {
    color: #7E7E7E;
}

a:visited {
    color: #AAAAAA;
}

#mainFrame {
    width: 75%;
    margin: 5% auto;
}

#navigator {
    width: 60%;
    text-align: right;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 14pt;
}

#navigator a {
    padding-left: 5% ;
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 700;
    font-size: 35pt;
}

#picture {
    float: left;
    width: 30%;
}

.paragraph{
    margin-bottom: 15%;
}

#whoAmI {
    overflow: hidden;
}

#subscription {
    font-size: 16pt;
    width: 65%;
    margin-bottom: 50px;
    float: right;
}

#detailInfo {
    float: right;
    width: 65%;
}

caption {
    font-size: 18pt;
    padding: 10px;
    text-align: left;
}

table {
    font-size: 15pt;
    width: 100%;
    border-collapse: collapse;
}

tr:first-child {
    border-top: 2px solid #7E7E7E;
}

td, tr {
    border-top: 1px dotted #AAAAAA;
    border-bottom: 1px dotted #AAAAAA;
    padding: 10px;
}

td:first-child {
    /*font-weight: 500;*/
}

td:last-child {
    color: #464646;
}

#careerAndAwards {
    clear: both;
}

.threeDimensionTable {
    table-layout: fixed;
}

.threeDimensionTable caption {
    font-size: 20pt;
    font-weight: 600;
}

.threeDimensionTable * > td:nth-child(2) {
    font-size: 13pt;
    width: 50%;
}

.threeDimensionTable * > td:last-child {
    width: 15%;
    font-size: 13pt;
    text-align: right;
}

#careerAndAwards > div , #whatDidYouDo > div {
    margin-bottom: 80px;
}

.whatDidYouDoTable caption {
    font-size: 22pt;
    font-weight: 600;
}

.whatDidYouDoTable {
    font-size: 14pt;
}

.whatDidYouDoTable * td {
    padding-top:2.5%;
}

.whatDidYouDoTable * > td:first-child {
    vertical-align: top;

    text-decoration:underline;
    text-underline-position:under;
}

.whatDidYouDoTable * > td:last-child {
    width: 80%;
    /*padding-bottom: 0;*/
}

.whatDidYouDoTable * > td:last-child > ul {
    margin-top:0;
    margin-bottom:0;
    padding-bottom: 0;
}

.whatDidYouDoTable * > td:last-child > ul:first-child {
    /*padding: 0;*/
    /*margin: 0;*/
    /*line-height:100%*/
}

.whatDidYouDoTable * > td:last-child > ul a {
    text-decoration: none;
}

#footer *{
    font-size: 12pt;
    color: #7E7E7E;
    text-align: center;
}

#footer a {
    text-decoration: none;
}

#footer {
    margin-bottom: 2%;
}

.greyParagraph {
    color: #7E7E7E;
    font-size: 12pt;
    text-decoration:underline white;
}

#settingsSelection {
    width: 90%;
    position: absolute;
    top: 20%;
    left: 2.5%;
}

#settingsSelection a {
    text-decoration: none;
    padding: 15px 32px;
    margin-top: 5%;
    text-align: center;
    display:block;
    width:100%;
    background-color:black;
    color:white;
}

hr {
    border-top: 1px dotted #AAAAAA;;
}

#techstackImage {
    width: 70%;
    display: block;
    margin: 0px auto;
}

