body { overflow: hidden; }
/*body * { touch-action: none; }*/

#whoAmI {
    position: fixed;
    top: 10%;
    width: 60%;
}

#careerAndAwards, #whatDidYouDo, #techStack {
    position: fixed;
    top: 110%;
    width: 60%;
}

#buttonDiv a {
    position:fixed;
    cursor:pointer;
    text-decoration: none;
    color: black;
}

#topButton {
    bottom:50px;
    right:50px;
}