body { overflow: hidden; }
body * { touch-action: none; }

#whoAmI {
    position: fixed;
    top: 20%;
    width: 60%;
    /*height: 100%;*/
}

#careerAndAwards, #whatDidYouDo, #techStack {
    position: fixed;
    top: 120%;
    width: 60%;
    /*height: 100%;*/
}

#buttonDiv a {
    position:fixed;
    cursor:pointer;
    text-decoration: none;
    color: black;
}

#topButton {
    bottom:50px;
    right:50px;
}

#upButton {
    top:5%;
    right:50%;
    z-index: 10;
}

#downButton {
    bottom:5%;
    right:50%;
    z-index: 10;
}

.hideClass {
    display: none;
}