<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/commonView.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script type="text/javascript" th:src="@{/js/slideView.js}"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navigator">
    <a th:href="@{/}">Slide View</a>
    <a th:href="@{/common}">Common View</a>
    <a>Settings</a>
</div>
<div id="mainFrame">
    <div class="paragraph" id="whoAmI">
        <h1>Who Am I?</h1>
        <div>
            <img id="picture" th:src="@{/picture/nthing_profile.jpeg}" alt="프로필사진">
        </div>
        <div id="subscription">
            <p th:text="${greeting.description}"></p>
        </div>
        <div id="detailInfo">
            <table>
                <caption>More Information</caption>
                <tr th:each="detailInfo : ${detailInfos}">
                    <td th:text="${detailInfo.category}"></td>
                    <td th:utext="${detailInfo.description}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paragraph" id="careerAndAwards">
        <h1>Career & Awards</h1>
        <div id="educationalHistory">
            <table class="threeDimensionTable">
                <caption>Educational History</caption>
                <tr>
                    <td>한양대학교 에리카캠퍼스</td>
                    <td>소프트웨어학과 컴퓨터전공 ( 3.77 / 4.5 )</td>
                    <td>2016.03 ~ 2021.08</td>
                </tr>
                <tr>
                    <td>신도림고등학교</td>
                    <td>인문계</td>
                    <td>2013.03 ~ 2016.02</td>
                </tr>
            </table>
        </div>
        <div id="awards">
            <table class="threeDimensionTable">
                <caption>Awards</caption>
                <tr>
                    <td>2019 Erica Software-Up 창업아이디어 톤</td>
                    <td>Thir-Key : 안전과 프라이버시를 보장하는, 키 없는 IoT 도어락 시스템</td>
                    <td>우수상</td>
                </tr>
                <tr>
                    <td>2020 안산 메이커 창업 페스티벌</td>
                    <td>FingerPrint : Online For Offline 클라우드 프린팅 서비스</td>
                    <td>전시우수상</td>
                </tr>
            </table>
        </div>
        <div id="career" >
            <table class="threeDimensionTable">
                <caption>Careers</caption>
                <tr>
                    <td>(주) 엔씽</td>
                    <td>S/W Backend Engineer</td>
                    <td>2021.03 ~ &nbsp;</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paragraph" id="whatDidYouDo">
        <h1>What did you do?</h1>
        <div id="university" >
            <table class="whatDidYouDoTable">
                <caption>학부생 시절</caption>
                <tr>
                    <td>창업동아리</td>
                    <td>프로젝트<br>수상</td>
                </tr>
                <tr>
                    <td>졸업작품</td>
                    <td>음식 ㄴㄹㅁㄹㄴㄹ<br>Spring Boot</td>
                </tr>
            </table>
        </div>
        <div>
            <table class="whatDidYouDoTable">
                <caption>재직 후</caption>
                <tr>
                    <td>Backend Engineer</td>
                    <td>뭐했는지 말해~~</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paragraph" id="techStack">
        <h1>Tech Stack</h1>
        <p>이 Page 는 Spring Boot & MySQL & AWS EC2 를 사용해 만들어졌습니다.</p>
        <p>소스코드 : </p>
        <p>만든 과정 기록 : </p>
    </div>
</div>
</body>
</html>