<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<head>-->
<!--    <link th:href="@{/css/commonView.css}" rel="stylesheet" />-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;    <script type="text/javascript" th:src="@{/js/slideView.js}"></script>&ndash;&gt;-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<th:block th:replace="fragment/head :: headFragment"></th:block>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div id="mainFrame">
    <div class="paragraph" id="whoAmI">
        <h1>Who Am I?</h1>
        <div>
            <img id="picture" th:src="@{/picture/nthing_profile.jpeg}" alt="프로필사진">
        </div>
        <div id="subscription">
            <p th:text="${greeting.description}"></p>
        </div>
        <div id="detailInfo">
            <table>
                <caption>More Information</caption>
                <tr th:each="detailInfo : ${detailInfos}">
                    <td th:text="${detailInfo.category}"></td>
                    <td th:utext="${detailInfo.description}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paragraph" id="careerAndAwards">
        <h1>History</h1>
        <div id="educationalHistory">
            <table class="threeDimensionTable">
                <caption>Educational History</caption>
                <tr th:each="educationHistory : ${careerAndAwards.get('educationHistory')}">
                    <td th:text="${educationHistory.schoolName}"></td>
                    <td th:utext="${educationHistory.description}"></td>
                    <td th:utext="${educationHistory.dateInformation}"></td>
                </tr>
            </table>
        </div>
        <div id="awards">
            <table class="threeDimensionTable">
                <caption>Awards</caption>
                <tr th:each="awards : ${careerAndAwards.get('awards')}">
                    <td th:text="${awards.awardName}"></td>
                    <td th:utext="${awards.description}"></td>
                    <td th:utext="${awards.award}"></td>
                </tr>
            </table>
        </div>
        <div id="career" >
            <table class="threeDimensionTable">
                <caption>Careers</caption>
                <tr th:each="career : ${careerAndAwards.get('career')}">
                    <td th:text="${career.companyName}"></td>
                    <td th:utext="${career.description}"></td>
                    <td th:utext="${career.dateInformation}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paragraph" id="whatDidYouDo">
        <h1>What did you do?</h1>
        <div th:each="thingsDoneMap : ${thingsDone}">
            <table class="whatDidYouDoTable">
                <caption th:text="${thingsDoneMap.key}"></caption>
                <tr th:each="thingsDoneEach : ${thingsDoneMap.value}">
                    <td th:utext="${thingsDoneEach.category}"></td>
                    <td th:utext="${thingsDoneEach.description}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="paragraph" id="techStack">
        <h1>Tech Stack</h1>
        <span th:utext="${techStack.description}"></span>
    </div>
</div>
</body>
</html>