<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragment/head :: headFragment"></th:block>
<head>
    <script type="text/javascript" th:src="@{/js/settings.js}"></script>
</head>

<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div id="mainFrame">
    <div class="paragraph" id="careerAndAwards">
        <h1>History</h1>
        <div id="educationalHistory">
            <table class="threeDimensionTable">
                <caption>Educational History</caption>
                <tr th:each="educationHistory : ${careerAndAwards.get('educationHistory')}">
                    <input type="hidden" th:id="|historyId_${educationHistory.educationId}|"
                           th:value="${educationHistory.educationId}">
                    <input type="hidden" th:id="|type_${educationHistory.educationId}|"
                           th:value="EDUCATION_HISTORY">
                    <td><input th:id="|name_${educationHistory.schoolName}|"
                               th:value="${educationHistory.schoolName}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                    <td><input th:id="|description_${educationHistory.description}|"
                               th:value="${educationHistory.description}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                    <td><input th:id="|moreDescription_${educationHistory.dateInformation}|"
                               th:value="${educationHistory.dateInformation}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                </tr>
            </table>
        </div>
        <div id="awards">
            <table class="threeDimensionTable">
                <caption>Awards</caption>
                <tr th:each="awards : ${careerAndAwards.get('awards')}">
                    <input type="hidden" th:id="|historyId_${awards.awardsId}|"
                           th:value="${awards.awardsId}">
                    <input type="hidden" th:id="|type_${awards.awardsId}|"
                           th:value="AWARDS">
                    <td><input th:id="|name_${awards.awardName}|"
                               th:value="${awards.awardName}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                    <td><input th:id="|description_${awards.description}|"
                               th:value="${awards.description}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                    <td><input th:id="|moreDescription_${awards.award}|"
                               th:value="${awards.award}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                </tr>
            </table>
        </div>
        <div id="career">
            <table class="threeDimensionTable">
                <caption>Careers</caption>
                <tr th:each="career : ${careerAndAwards.get('career')}">
                    <input type="hidden" th:id="|historyId_${career.careerId}|"
                           th:value="${career.careerId}">
                    <input type="hidden" th:id="|type_${career.careerId}|"
                           th:value="CAREER">
                    <td><input th:id="|name_${career.companyName}|"
                               th:value="${career.companyName}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                    <td><input th:id="|description_${career.description}|"
                               th:value="${career.description}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                    <td><input th:id="|moreDescription_${career.dateInformation}|"
                               th:value="${career.dateInformation}"
                               type="text" name="text" size="20" style="width:100%;"></td>
                </tr>
                <form>
                    <tr>
                        <td><input type="text" name="text" size="20" style="width:100%;"></td>
                        <td><input type="text" name="text" size="20" style="width:100%;"></td>
                        <td><input type="text" name="text" size="20" style="width:100%;"></td>
                    </tr>
                </form>
            </table>
            <button>추가하기</button>
        </div>
    </div>

    <div class="paragraph">
        <button id="goBack">뒤로가기</button>
        <button id="careerAndAwardsButton">수정하기</button>
    </div>
</div>
</body>
</html>