<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/commonView.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script type="text/javascript" th:src="@{/js/slideView.js}"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navigator">
    <a th:href="@{/slide}">Slide View</a>
    <a th:href="@{/}">Common View</a>
    <a th:href="@{/settings/index}">Settings</a>
</div>
<div id="mainFrame">
    <div class="paragraph" id="careerAndAwards">
        <h1>Career & Awards</h1>
        <div id="educationalHistory">
            <table class="threeDimensionTable">
                <caption>Educational History</caption>
                <tr th:each="educationHistory : ${careerAndAwards.get('educationHistory')}">
                    <td th:text="${educationHistory.schoolName}"></td>
                    <td th:utext="${educationHistory.description}"></td>
                    <td th:utext="${educationHistory.dateInformation}"></td>
                </tr>
            </table>
        </div>
        <div id="awards">
            <table class="threeDimensionTable">
                <caption>Awards</caption>
                <tr th:each="awards : ${careerAndAwards.get('awards')}">
                    <td th:text="${awards.awardName}"></td>
                    <td th:utext="${awards.description}"></td>
                    <td th:utext="${awards.award}"></td>
                </tr>
            </table>
        </div>
        <div id="career" >
            <table class="threeDimensionTable">
                <caption>Careers</caption>
                <tr th:each="career : ${careerAndAwards.get('career')}">
                    <td th:text="${career.companyName}"></td>
                    <td th:utext="${career.description}"></td>
                    <td th:utext="${career.dateInformation}"></td>
                </tr>
                <form>
                    <tr>
                        <td><input type="text" name="text" size="20" style="width:100%;"></td>
                        <td><input type="text" name="text" size="20" style="width:100%;"></td>
                        <td><input type="text" name="text" size="20" style="width:100%;"></td>
                    </tr>
                </form>
            </table>
            <button>추가하기</button>
        </div>
    </div>

    <div class="paragraph">
        <button>뒤로가기</button>
        <button>수정하기</button>
    </div>
</div>
</body>
</html>