<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/commonView.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script type="text/javascript" th:src="@{/js/slideView.js}"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navigator">
    <a th:href="@{/slide}">Slide View</a>
    <a th:href="@{/}">Common View</a>
    <a th:href="@{/settings/index}">Settings</a>
</div>
<div id="mainFrame">
    <div class="paragraph">
        <form action="/settings/check" method="post">
            <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required/>
            <button type="submit">비밀번호 입력</button>
        </form>
    </div>
</div>
</body>
</html>