<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragment/head :: headFragment"></th:block>
<head>
    <script type="text/javascript" th:src="@{/js/settings.js}"></script>
</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div id="mainFrame">
    <div id="settingsSelection">
        <a th:href="@{/settings/whoAmI}">Introduce</a>
        <a th:href="@{/settings/history}">History</a>
        <a th:href="@{/settings/whatDidYouDo}">Experiences</a>
        <a th:href="@{/settings/techStack}">TechStack</a>
    </div>
    <button id="logout">로그아웃</button>
</div>
</body>
</html>