<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/commonView.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script type="text/javascript" th:src="@{/js/slideView.js}"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navigator">
    <a th:href="@{/slide}">Slide View</a>
    <a th:href="@{/}">Common View</a>
    <a>Settings</a>
</div>
<div id="mainFrame">
    <div class="paragraph" id="whoAmI">

    </div>

    <div class="paragraph" id="careerAndAwards">

    </div>

    <div class="paragraph" id="whatDidYouDo">

    </div>

    <div class="paragraph" id="techStack">

    </div>
</div>
</body>
</html>