<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/commonView.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script type="text/javascript" th:src="@{/js/slideView.js}"></script>-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navigator">
    <a th:href="@{/slide}">Slide View</a>
    <a th:href="@{/}">Common View</a>
    <a th:href="@{/settings/index}">Settings</a>
</div>
<div id="mainFrame">
    <a th:href="@{/settings/whoAmI}">Who Am I</a>
    <a th:href="@{/settings/history}">History</a>
    <a th:href="@{/settings/whatDidYouDo}">What Did You Do</a>
    <a th:href="@{/settings/techStack}">TechStack</a>
</div>
</body>
</html>