<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragment/head :: headFragment"></th:block>
<head>
    <link th:href="@{/css/slideView.css}" rel="stylesheet" />
    <link th:href="@{/css/arrow.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/slideView.js}"></script>
</head>
<body>
    <div id="scrollArrow">
        <div class="downArrow">
            <span></span>
            <span></span>
        </div>
        <div class="upArrow">
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navigator">
        <a th:href="@{/}">Slide View</a>
        <a th:href="@{/common}">Common View</a>
        <a th:href="@{/settings/index}">Settings</a>
    </div>
    <div id="buttonDiv">
        <a id="topButton">▲</a>
    </div>
    <div id="mainFrame">
        <div class="paragraph" id="whoAmI">
            <h1>Introduce</h1>
            <div>
                <img id="picture" th:src="@{/picture/nthing_profile.jpeg}" alt="프로필사진">
            </div>
            <div id="subscription">
                <p th:utext="${greeting.description}"></p>
            </div>
            <div id="detailInfo">
                <table>
                    <caption>More Information</caption>
                    <tr th:each="detailInfo : ${detailInfos}">
                        <td th:text="${detailInfo.category}"></td>
                        <td th:utext="${detailInfo.description}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="paragraph" id="careerAndAwards">
            <h1>History</h1>
            <div id="educationalHistory">
                <table class="threeDimensionTable">
                    <caption>Educational History</caption>
                    <tr th:each="educationHistory : ${careerAndAwards.get('educationHistory')}">
                        <td th:text="${educationHistory.schoolName}"></td>
                        <td th:utext="${educationHistory.description}"></td>
                        <td th:utext="${educationHistory.dateInformation}"></td>
                    </tr>
                </table>
            </div>
            <div id="awards">
                <table class="threeDimensionTable">
                    <caption>Awards</caption>
                    <tr th:each="awards : ${careerAndAwards.get('awards')}">
                        <td th:text="${awards.awardName}"></td>
                        <td th:utext="${awards.description}"></td>
                        <td th:utext="${awards.award}"></td>
                    </tr>
                </table>
            </div>
            <div id="career" >
                <table class="threeDimensionTable">
                    <caption>Careers</caption>
                    <tr th:each="career : ${careerAndAwards.get('career')}">
                        <td th:text="${career.companyName}"></td>
                        <td th:utext="${career.description}"></td>
                        <td th:utext="${career.dateInformation}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="paragraph" id="whatDidYouDo">
            <h1>Experiences</h1>
            <div th:each="thingsDoneMap : ${thingsDone}">
                <table class="whatDidYouDoTable">
                    <caption th:text="${thingsDoneMap.key}"></caption>
                    <tr th:each="thingsDoneEach : ${thingsDoneMap.value}">
                        <td th:utext="${thingsDoneEach.category}"></td>
                        <td th:utext="${thingsDoneEach.description}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="paragraph" id="techStack">
            <h1>Tech Stack</h1>
            <span th:utext="${techStack.description}"></span>
        </div>
    </div>
</body>
</html>