<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link th:href="@{/css/commonView.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/settings.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div id="mainFrame">
    <div class="paragraph" id="techStack">
        <h1>Tech Stack</h1>
        <br/>
        <textarea th:text="${techStack.description}" id="techStackTextArea" rows="20" cols="100"></textarea>
    </div>

    <div class="paragraph">
        <button id="goBack">뒤로가기</button>
        <button id="techStackEditButton">수정하기</button>
    </div>
</div>
</body>
</html>